<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid" id="navbar-content">
      <a class="navbar-brand" routerLink = "/">Home</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="nav-links">
          <a class="nav-link" routerLink = "/about">About me</a>
          <a class="nav-link" href="#">Contact</a>
        </div>
      </div>
      <img src="./../../assets/IMG/backpack-304799.svg" alt="Logo">
    </div>
  </nav>
