nav{
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    img{
        max-width: 10%;
    }

    #navbar-content{
        margin: 0 10% 0 10% !important;

        #nav-links{
            a{
            margin: 0 1em 0 1em;
            }
        }
    }

}