<div class="text-center">
    <h1>Welcome to my</h1>
    <h1 id="title">Travel Blog</h1>
</div>

<div class="d-flex justify-content-between">
    <!-- <img src="./../../assets/IMG/backpack-304799.svg" alt="Logo" id="logo"> -->
    <div></div>
    <div class="d-flex justify-content-start shadow p-1 align-self-center" id="hero-description">
        <div class="col" id="hero-visits">
            <h2>Visits</h2>
            <h4><a href="#Croatia">Croatia</a></h4>
            <h4><a href="#Spain">Spain</a></h4>
            <h4>Paris</h4>
            <h4>Italy</h4>
            <h4>Corse</h4>
            <h4>Maroque</h4>
            <h4>Cuba</h4>
            <h4>Cambodia</h4>
            <h4>Istanbul</h4>
        </div>
        <div class="col" id="hero-destination">
            <h2>Next Destinations</h2>
            <h4>Greece</h4>
            <h4>Indonesia</h4>
            <h4>Portugal</h4>
            <h4>Argentina</h4>
            <h4>Finnland</h4>
            <h4>Norway</h4>
            <h4>Sweden</h4>
            <h4>Tibet</h4>
        </div>
    </div>
</div>

<div class="d-flex flex-column mt-5" id="blog-content">
    <h2 class="text-center country-title" id="Croatia">Croatia</h2>
    <div class="mytext">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor sed augue porttitor congue. Etiam
            vitae
            urna nec leo laoreet iaculis. Proin laoreet sit amet enim suscipit dignissim. Donec pellentesque, erat non
            iaculis finibus, magna urna varius nibh, sed aliquam lectus arcu et massa. Praesent est lacus, consequat
            eget
            dignissim sit amet, vulputate vel dui. Vivamus eu vestibulum dui. Aliquam convallis auctor erat nec viverra.
            Nam
            justo ligula, molestie cursus leo vel, bibendum iaculis neque. Cras ut aliquam odio. Etiam tincidunt magna
            vel
            augue varius consectetur.</p>
    </div>
    <h2 class="text-center">Plitvicer</h2>
    <div class="mytext">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor sed augue porttitor congue. Etiam
            vitae
            urna nec leo laoreet iaculis. Proin laoreet sit amet enim suscipit dignissim. Donec pellentesque, erat non
            iaculis finibus, magna urna varius nibh, sed aliquam lectus arcu et massa. Praesent est lacus, consequat
            eget
        </p>
    </div>
    <img src="https://cdn.pixabay.com/photo/2015/11/07/11/27/plitvice-1031159_960_720.jpg" alt="Plitvicer">

    <h2 class="text-center">Krka National Park</h2>
    <p class="mytext">Pellentesque tincidunt nibh purus, ut feugiat dui placerat sed. Sed rhoncus luctus justo vel
        mattis. Fusce
        eleifend mattis nisi in semper. Duis nec urna lacinia, sodales quam at, cursus nisl. Ut faucibus accumsan porta.
        Sed id quam tortor. Nullam vulputate ultricies augue eu gravida. Phasellus consequat eros sit amet lectus
        aliquet, id lobortis mi posuere. Etiam gravida velit eget enim tristique feugiat. Duis fringilla velit vehicula
        quam pulvinar, at viverra turpis lobortis. Suspendisse leo turpis, convallis vel neque sed, efficitur venenatis
        quam. Curabitur vel magna at libero ornare semper non quis quam. Praesent lacus dolor, porttitor nec rhoncus
        nec, vestibulum vitae ipsum. Fusce facilisis dui vitae porttitor finibus. Mauris sed ligula nibh.</p>
    <img src="https://cdn.pixabay.com/photo/2015/09/21/17/52/waterfall-950343__340.jpg" alt="Krka">
    <p class="mytext">Pellentesque tincidunt nibh purus, ut feugiat dui placerat sed. Sed rhoncus luctus justo vel
        mattis. Fusce
        eleifend mattis nisi in semper. Duis nec urna lacinia, sodales quam at, cursus nisl. Ut faucibus accumsan porta.
        Sed id quam tortor. Nullam vulputate ultricies augue eu gravida. Phasellus consequat eros sit amet lectus
        aliquet, id lobortis mi posuere.</p>

    <h2 class="text-center">Sveta Nedilja</h2>
    <p class="mytext">Pellentesque tincidunt nibh purus, ut feugiat dui placerat sed. Sed rhoncus luctus justo vel
        mattis. Fusce
        eleifend mattis nisi in semper. Duis nec urna lacinia, sodales quam at, cursus nisl. Ut faucibus accumsan porta.
        Sed id quam tortor. Nullam vulputate ultricies augue eu gravida. Phasellus consequat eros sit amet lectus
        aliquet, id lobortis mi posuere.</p>

     <hr>   
    <h2 class="text-center country-title" id="Spain">Spain</h2>
    <p class="mytext">Pellentesque tincidunt nibh purus, ut feugiat dui placerat sed. Sed rhoncus luctus justo vel
        mattis. Fusce
        eleifend mattis nisi in semper. Duis nec urna lacinia, sodales quam at, cursus nisl. Ut faucibus accumsan porta.
        Sed id quam tortor. Nullam vulputate ultricies augue eu gravida. Phasellus consequat eros sit amet lectus
        aliquet, id lobortis mi posuere. Etiam gravida velit eget enim tristique feugiat. Duis fringilla velit vehicula
        quam pulvinar, at viverra turpis lobortis. Suspendisse leo turpis, convallis vel neque sed, efficitur venenatis
        quam. Curabitur vel magna at libero ornare semper non quis quam. Praesent lacus dolor, porttitor nec rhoncus
        nec, vestibulum vitae ipsum. Fusce facilisis dui vitae porttitor finibus. Mauris sed ligula nibh.</p>
</div>