<div class="d-flex">

    <img src="./../../assets/IMG/profile.svg" alt="Profile">

    <div>
        <div class="text-center">
            <h1>Neslihan Minaz</h1>
        </div>
        <p class="mytext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor sed augue porttitor congue. Etiam
            vitae
            urna nec leo laoreet iaculis. Proin laoreet sit amet enim suscipit dignissim. Donec pellentesque, erat non
            iaculis finibus, magna urna varius nibh, sed aliquam lectus arcu et massa. Praesent est lacus, consequat
            eget
            dignissim sit amet, vulputate vel dui. Vivamus eu vestibulum dui. Aliquam convallis auctor erat nec viverra.
            Nam
            justo ligula, molestie cursus leo vel, bibendum iaculis neque. Cras ut aliquam odio. Etiam tincidunt magna
            vel
            augue varius consectetur.
        </p>



        <p class="mytext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor sed augue porttitor congue. Etiam
            vitae
            urna nec leo laoreet iaculis. Proin laoreet sit amet enim suscipit dignissim. Donec pellentesque, erat non
            iaculis finibus, magna urna varius nibh, sed aliquam lectus arcu et massa. Praesent est lacus, consequat
            eget
            dignissim sit amet, vulputate vel dui. Vivamus eu vestibulum dui. Aliquam convallis auctor erat nec viverra.
            Nam
            justo ligula, molestie cursus leo vel, bibendum iaculis neque. Cras ut aliquam odio. Etiam tincidunt magna
            vel
            augue varius consectetur.
        </p>
    </div>
</div>